@using XceedTask.Models
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="col-4 form-group pt-4">
    <label for="Category" class="form-label">Category</label>
    <input id="category" type="text" class=" form-control" placeholder="Enter category" />

    <a href="#" id="filterProducts" class="mt-2 btn btn-success" onclick="filterProducts()">
        <i class="bi bi-plus-circle-dotted"></i>
        Filter Products
    </a>
</div>

@if (!Model.Any())
{
    <div class="mt-5"><p>No products to filter</p></div>
}

else{
<table class="table table-bordered border-primary mt-5">
    <thead>
        <tr class="border-primary">
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">CreationDate</th>
            <th scope="col">StartDate</th>
            <th scope="col">Duration</th>
            <th scope="col">User</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr class="border border-primary">

                <td>
                    <div class="d-flex">
                        <div class="d-flex flex-column justify-content-center">
                            <p>@product.Name</p>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="d-flex">
                        <div class="d-flex flex-column justify-content-center">
                            <p>@product.Price</p>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="d-flex">
                        <div class="d-flex flex-column justify-content-center">
                            <p>@product.CreationDate</p>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="d-flex">
                        <div class="d-flex flex-column justify-content-center">
                            <p>@product.StartDate</p>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="d-flex">
                        <div class="d-flex flex-column justify-content-center">
                            <p>@product.Duration</p>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="d-flex">
                        <div class="d-flex flex-column justify-content-center">
                            <p>@product.User.UserName</p>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="d-flex">
                        <div class="d-flex flex-column justify-content-center">
                            <p>@product.Category.Name</p>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>}

@section Scripts{
    <script>
        function filterProducts() {

            const category = document.getElementById('category').value;

            const url = `/Home/Index?category=${encodeURIComponent(category)}`;

            window.location.href = url;
        }
    </script>
}